body {
  background: color('bg');
  font-family: 'Roboto', sans-serif;;
  color: color('dark');
  font-size: 14px;
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  @include respond-from('sm') {
    flex-direction: column-reverse;
  }
}

.page {
  flex: auto;
  padding: 15px;
  overflow-y: auto;
}

.content {
  max-width: 600px;
  margin: 0 auto;

  // animation-name: fade-in;
  // animation-timing-function: ease;
  // animation-fill-mode: forwards;
  // animation-iteration-count: 1;
  // animation-duration: 0.6s;
}

.Navigation {
  flex: 1;
  min-height: 60px;
  max-height: 60px;
  background: #e6e6e6;
  @include respond-from('sm') {
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
  }
}


.box {
  border-radius: 4px;
  padding: 20px;
  background: color('primary');
  margin-bottom: 20px;
}

.copyright {
  margin: 20px 10px 10px;
  text-align: center;
}

// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
