// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto-400.woff2') format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
//
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Roboto-500.woff2') format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
//
// /* latin */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Roboto-700.woff2') format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
//

body {
  background: color('bg');
  font-family: 'Roboto', sans-serif;;
  color: color('dark');
  font-size: 14px;
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.page {
  flex: auto;
  padding: 15px;
  overflow-y: auto;
}

.Navigation {
  flex: 1;
  min-height: 60px;
  max-height: 60px;
  background: #e6e6e6;
}


.box {
  border-radius: 4px;
  padding: 20px;
  background: color('primary');
  margin-bottom: 20px;
}

.copyright {
  margin: 20px 10px 10px;
  text-align: center;
}
