{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "navigator": true,
    "PaymentRequest": true,
    "Notification": true,
    "ServiceWorkerRegistration": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": ["error", { "ignore": ["class", "className"] }]
  }
}
