.sky {
  background: #38383c;
  height: 320px;
  position: relative;
  overflow: hidden;

  &__sun {
    width: 75px;
    height: 75px;
    background: #ebebcf;
    border-radius: 50%;
    top: 50px;
    left: 50%;
    position: absolute;
    z-index: 10;
  }


  &__level {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate3d(-50%, -50%, 0);

    &--1 {
      width: 450px;
      height: 450px;
      background: #46424b;
      z-index: 1;
    }

    &--2 {
       width: 350px;
      height: 350px;
      background: #4b4752;
      z-index: 2;
    }

    &--3 {
      width: 250px;
      height: 250px;
      background: #544e59;
      z-index: 3;
    }

    &--4 {
      width: 150px;
      height: 150px;
      background: #5c5763;
      z-index: 4;
    }

    &--5 {
      width: 50px;
      height: 50px;
      background: #454249;
      z-index: 5;
    }
  }
}
