.Hourly {
  z-index: 2;
  position: relative;
  margin-top: 86px;

  &__row {
    padding: 15px 20px;
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: -86px;
    background: #fff;
    transition: transform 0.2s ease-out;

    @for $i from 1 through 24 {
      &:nth-of-type(#{$i}) {
        z-index: $i + 10;
      }
    }
  }

  &__main,
  &__detail {
    display: flex;
  }

  &__icon {
    flex: 1 50px 0;
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }

  &__cont {
    flex: auto;
  }

  &__top,
  &__down {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    font-size: 20px;
    font-weight: bold;
  }

  &__down {
    font-size: 14px;
  }


  &__detail-row{
    flex: 1;
    text-align: center;
    margin-top: 15px;
  }

  &__detail-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: #ccc;
  }

  &__detail-value {
    font-size: 16px;
    font-weight: bold;
  }

  &__detail-label {
    text-overflow: ellipsis;
    font-size: 14px;
  }
}
