.Navigation {
  display: flex;
  text-align: center;

  &__item {
    flex: 1;
    text-transform: uppercase;
    color: inherit;

    &--active {
      color: color('primary');
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    background: #ccc;
    display: inline-block;
    margin: 8px 0 2px 0;
  }

  &__label {
    font-size: 14px;
    display: block;
  }
}
