.Navigation {
  display: flex;
  text-align: center;
  justify-content: center;

  &__item {
    flex: 1;
    text-transform: uppercase;
    color: inherit;
    max-width: 160px;

    &--selected {
      color: color('primary');
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    margin: 8px 0 2px 0;
  }

  &__label {
    display: block;
  }
}
