@import '../../scss/_mixins';

.Today {
	&__summary {
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 15px;
		line-height: 1.2;
	}

	&__update {
		font-size: 12px;
		text-align: center;
		margin-top: -5px;
	}

	&__icon {
		height: 200px;
		width: 200px;
		display: block;
		margin: 5px auto 35px auto;
	}

	&__more {
		display: flex;
		margin: 0 25px 25px 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid color('gray');
	}

	&__temp {
		font-size: 80px;
		flex: 1;
		font-weight: lighter;
		padding-top: 5px;
	}

	&__details {
		flex: 1;
	}

	&__details-row {
		display: flex;
		margin: 5px 0;
		span {
			flex: 1;
		}
	}

	&__sun {
		text-align: center;
	}
}
