.icon {
	width: 200px;
	height: 200px;
	position: relative;

	.circle {
		width: 90%;
		height: 90%;
		background: var(--color-secondary);
		margin: 5%;
		position: absolute;
		border-radius: 50%;
		z-index: 2;
		transition: 0.5s linear all;

		&--m {
			transform: scale(0.8);
		}

		&--s {
			transform: scale(0.6);
		}

		&--almost-hidden {
			opacity: 0.2;
		}

		&--night {
			background: #c8cdd4;
		}
	}

	.h-line {
		width: 100%;
		height: 5%;
		background: var(--color-primary);
		position: absolute;
		left: 0;
		z-index: 3;
		transition: 0.5s linear all;

		@for $i from 1 through 8 {
			&--#{$i} {
				top: ($i * (5% * 2)) + 2.5%;
			}
		}
	}

	.v-line {
		width: 5%;
		height: 50%;
		background: var(--color-primary);
		position: absolute;
		top: 50%;
		z-index: 3;
		transition: 0.5s linear all;

		@for $i from 1 through 9 {
			&--#{$i} {
				left: ($i * (5% * 2)) - 2.5%;
			}
		}
	}

	.h-size-h {
		transform: scaleX(0.5);
	}

	.h-size-q {
		transform: scaleX(0.25);
	}

	.h-right {
		transform-origin: 100% 0;
	}

	.h-left {
		transform-origin: 0 100%;
	}

	.v-size-h {
		transform: scaleY(0.5);
	}

	.v-size-q {
		transform: scaleY(0.25);
	}

	.v-size-dot {
		transform: scaleY(0.1);
	}

	.v-top {
		transform-origin: 100% 0;
	}

	.v-bottom {
		transform-origin: 0 100%;
	}

	.l-hide {
		opacity: 0;
	}

	.l-above {
		z-index: 3;
	}

	.l-below {
		z-index: 1;
	}
}
