@import '../../scss/_mixins';

.Navigation {
	display: flex;
	text-align: center;
	justify-content: center;

	height: 60px;
	background: var(--color-bg-high);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	@include respond-from('sm') {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
		top: 0;
		bottom: auto;
	}

	&__item {
		flex: 1;
		text-transform: uppercase;
		color: inherit;
		max-width: 160px;
		position: relative;
		overflow: hidden;

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 120%;
			height: 0;
			padding-bottom: 120%;
			margin-left: -60%;
			margin-top: -60%;
			background: var(--color-primary);
			border-radius: 100%;
			opacity: 0.6;
			transform: scale(0);
		}

		&:not(:active):after {
			animation: ripple 0.8s ease-out;
		}

		&:after {
			visibility: hidden;
		}

		&:focus:after {
			visibility: visible;
		}

		&--selected {
			color: var(--color-primary);
		}
	}

	&__icon {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 8px 0 2px 0;
	}

	&__label {
		display: block;
	}
}

@keyframes ripple {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
