.Current {

  &__main {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__icon {
    flex: 0 1 64px;
    height: 64px;
    margin-right: 10px;
  }

  &__text {
    flex: auto;
  }

  &__title {
    font-size: 22px;
  }

  &__summery {
    font-size: 16px;
    color: #efefef;
    margin-top: 5px;
  }

  &__temp {
    flex: 0 1 50px;
    text-align: right;
    font-size: 32px;
  }



  &__row {
    display: flex;
    margin-top: 10px;
  }

  &__col {
    flex: 1;
  }

  &__col-icon {
    float: left;
    width: 32px;
    height: 32px;
    background: #ccc;
    margin-right: 5px;
  }

  &__col-value {
    font-size: 16px;
    margin-top: 3px;
  }

  &__col-label {
    font-size: 13px;
    color: #efefef;
  }
}
