@import '_mixins';

:root {
	--color-bg: #f5f5f5;
	--color-bg-high: #e6e6e6;
	--color-primary: #3374ff;
	--color-secondary: #ffde17;
	--color-primary-text: #fff;
	--color-border: #e2e2e2;
	--color-text: #404040;
}

body.dark-theme {
	--color-bg: #353535;
	--color-bg-high: #1d1d1d;
	--color-primary: #00bcd4;
	--color-secondary: #ffd200;
	--color-primary-text: #fff;
	--color-border: #777;
	--color-text: #ffffff;
}

body {
	background: var(--color-bg);
	font-family: 'Roboto', sans-serif;
	color: var(--color-text);
	font-size: 14px;
}

.main {
	height: 100vh;
}

.page {
	padding: 15px 15px 80px 15px;
	overflow-y: scroll;
	overflow-x: hidden;
	@include respond-from('sm') {
		padding-top: 80px;
		padding-bottom: 15px;
	}
}

.content {
	max-width: 600px;
	margin: 0 auto;
}

.box {
	border-radius: 4px;
	padding: 20px;
	background: var(--color-primary);
	margin-bottom: 20px;
}

.copyright {
	margin: 20px 10px 10px;
	text-align: center;
}

.LocationAccess {
	padding: 20px;

	p {
		text-align: center;
		font-size: 18px;
		margin-bottom: 1em;
		line-height: 1.2;
	}

	.btn {
		margin-bottom: 1em;
	}
}
